@media screen and (min-width: 1440px) {
    .cabecalho {
        width: 100vw;
    }
    .cabecalho-caixa {
        display: flex;
        align-items: center;
        
        margin: 32px;
        width: 1440px;  
        
    }
    .cabecalho-img {
        
    }
    
    .cabecalho-inputBusca {
        width: 752px;
        border-radius: 8px;
        background-color: var(--fundo-input);
        padding: 16px;
        border: none;
        color: var(--cor-fonte-branca);
        font-size: 16px;
        line-height: 24px;
        margin-left: 167px;
        margin-right: 206px;
        
    }
    
    .cabecalho-inputBusca::placeholder {
        font-family: var(--fonte-primaria);
        font-size: 16px;
        line-height: 24px;
        color: var(--cor-fonte-branca);
        
    }
    
    .cabecalho__perfil {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px;
    }
    
    .cabecalho__perfil-nome {
        color: var(--cor-fonte-branca);
        font-size: 16px;
        line-height: 24px;
    }
    
    .cabecalho__lupa, .cabecalho__menu-hamburguer {
        display: none;
    }
}
