@media screen and (max-width: 426px){
    .cabecalho {
        width: 100vw;
    
    }
    .cabecalho-caixa {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 16px 27px;
        gap: 94px;
        
    }

    .cabecalho_nav {
        display: flex;
    }

    .cabecalho-inputBusca, .cabecalho__perfil {
        display: none;  
        
    }
  
    .material-symbols-outlined {
        display: block;
        color: var(--cor-fonte-branca);
        width: 24px;
        padding: 12px;

    }
}